#nav{
    height: auto;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

#links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 15px;
    align-items: center;
}

.link{
    list-style: none;
}

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown button{
    border: none;
    font-size: medium;
    background-color: white;
}

.dropdown .dropdown_content{
    display: none;
    position: absolute;
    width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10%;
    z-index: 1;
}

.dropdown:hover .dropdown_content{
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    border-radius: 10%;
    background-color: white;
}

.dropdown:hover .dropdown_last{
    display: block;
    border: solid 1px white;
    border-radius: 10%;
    width: 95px;
    text-align: left;
}

.dropdown:hover .dropdown_content a{
    display: block;
    text-decoration: none;
}

.dropdown .dropdown_content a{
    padding: 5px;
}

@media screen and (max-width: 760px) {
    #links {
        flex-direction: column;
        align-items: center;
    }
}