p{
    font-weight: bold;
    font-size: 25px;
    color: #101920;
    margin-top: 3%;
    margin-bottom: 0.5%;
}

.cartelera{
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 100px;
    justify-content: center;
}

.film{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 2%;
}

.film{
    border-radius: 15px;
    box-shadow: 3px 3px 5px;
}

